aistudio-sdk==0.3.8
altair==6.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==25.4.0
av==16.0.1
bce-python-sdk==0.9.68
beautifulsoup4==4.14.2
blinker==1.9.0
brfunds==0.2.1
bs4==0.0.2
bt==1.1.2
cachetools==7.1.4
cattrs==25.3.0
certifi==2025.10.5
cffi==2.0.0
chardet==7.4.0.post2
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
crc32c==2.8
cryptography==46.0.3
curl_cffi==0.13.0
cycler==0.12.1
DateTime==5.5
decorator==5.2.1
easyocr==1.7.2
et_xmlfile==2.0.0
ffn==1.1.2
filelock==3.25.2
fonttools==4.60.1
frozendict==2.4.6
fsspec==2026.3.0
fundamentus==0.3.2
future==1.0.0
gcloud==0.18.3
gitdb==4.0.12
GitPython==3.1.50
googleapis-common-protos==1.72.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httplib2==0.31.0
httptools==0.8.0
httpx==0.28.1
huggingface_hub==1.8.0
idna==3.11
ImageIO==2.37.3
imagesize==2.0.0
img2table==0.0.12
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
kiwisolver==1.4.9
lazy-loader==0.5
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
modelscope==1.35.3
mpmath==1.3.0
multitasking==0.0.12
narwhals==2.22.0
networkx==3.6.1
ninja==1.13.0
numpy==2.3.4
oauth2client==4.1.3
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
packaging==25.0
paddleocr==3.4.0
paddlex==3.4.3
pandas==2.3.3
pandas-datareader==0.10.0
pandas-stubs==2.3.2.250926
peewee==3.18.2
pillow==12.0.0
platformdirs==4.5.0
plotly==6.7.0
polars==1.39.3
polars-runtime-32==1.39.3
prettytable==3.17.0
protobuf==6.33.0
psutil==7.2.2
py-cpuinfo==9.0.0
pyarrow==23.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.2
Pygments==2.20.0
PyMuPDF==1.27.2.2
pynvest==0.1.2
pyparsing==3.2.5
pypdfium2==5.6.0
PyPrind==2.11.3
pyproject==1.3.1
Pyrebase4==4.8.0
pytesseract==0.3.13
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-jwt==4.1.0
python-multipart==0.0.30
pytz==2025.2
PyYAML==6.0.2
referencing==0.37.0
requests==2.32.5
requests-cache==1.2.1
requests-toolbelt==0.10.1
rich==14.3.3
rpds-py==2026.5.1
rsa==4.9.1
ruamel.yaml==0.19.1
scikit-image==0.26.0
scikit-learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
soupsieve==2.8
starlette==1.2.1
streamlit==1.58.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.4
threadpoolctl==3.6.0
tifffile==2026.3.3
toml==0.10.2
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.1
typer==0.24.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.12.0
url-normalize==2.2.1
urllib3==1.26.20
uvicorn==0.48.0
watchdog==6.0.0
wcwidth==0.6.0
websockets==15.0.1
wheel==0.45.1
xlsxwriter==3.2.9
yfinance==0.2.66
zope.interface==8.0.1
